<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="input_form">
        <form>
            <div>{{ input_form }}</div>
            <div>
                <button>Generate certificate</button>
            </div>
        </form>
    </div>
    <div id="certificates">
        {% for cert in certificates %}
        <div>{{ cert.name }}, {{ cert.course }}, {{ cert.date }}</div>
        <a href="{% url 'download_file' pk=cert.pk %}">Download file</a>
        {% endfor %}
    </div>
</body>
</html>