{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form id="input_form"method="POST">
            {% csrf_token %}
            <input id="name" type="text" placeholder="name">
            <input id="course" type="text" placeholder="course">
            <button id="save_btn" value="Generate">Generate</button>
        </form>
    </div>
    <div id="certificates">
        {% for cert in certificates %}
        <div>{{ cert.name }}, {{ cert.course }}, {{ cert.date }}</div>
        <a href="{% url 'download_file' pk=cert.pk %}">Download file</a>
        {% endfor %}
    </div>
    <script src={% static "JS/index.js" %}></script>
</body>
</html>